body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --amplify-primary-color: #4caf50;
  --amplify-primary-tint: #8bc34a;
  --amplify-primary-shade: #689f38;
}

.navbarCustom {
  background-color: #8bc34a;
  box-shadow: 60px -16px black !important;
}

.colorHeader {
  background-color: #8bc34a !important;
}

.botonPositivo {
  background-color: #4caf50 !important;
  border: none !important;
}
.botonPositivo:hover {
  background-color: #536dfe !important;
  border: none !important;
}
.botonLogin {
  background-color: #4caf50 !important;
  border: none !important;
  border-radius: 0 !important;
  min-height: 6.759002770083103vh;
}

.addToCart {
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.addToCart:hover {
  background-color: #536dfe !important; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.notificationCart {
  position: relative;
  left: 13%;
  border-radius: 50% !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

amplify-authenticator {
  background-color: #4caf50;
}
